<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{title}}
  </h1> 
</div>
<form>
<span><input type="text" #t name="city" placeholder="Search a city"></span>
<span><input type="submit" (click)="searchWeather(t.value)" value="Search"></span>

</form>


<br><br>

<table width="500" class="mytable" align="left">
<tr>
  <th>City</th>
  <th>12 am</th>
  <th>6 am</th>
  <th>12 pm</th>
  <th>6am</th>
</tr>
<tr *ngFor="let w of myWeather" >
  <td class="myd">{{w.city}}</td>
  <td class="myd">{{w.midday}}</td>
  <td class="myd">{{w.morning}}</td>
  <td class="myd">{{w.midnight}}</td>
  <td class="myd">{{w.evening}}</td>
</tr>

</table>

  

